# Ignora tudo dentro da pasta static
graficos_analytics/static/*

# Não ignora a pasta static em si
!graficos_analytics/static/

# Não ignora a subpasta desejada e seu conteúdo
!graficos_analytics/static/pagina_template/
!graficos_analytics/static/pagina_template/**

# Ignorar arquivo .env
.env

**/.ipynb_checkpoints/
**/temp